<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Imported Rule 1" stopProcessing="true">
            <match url="^(.*)/$" ignoreCase="false" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            </conditions>
            <action type="Redirect" url="/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Imported Rule 2" stopProcessing="true">
            <match url="^" ignoreCase="false" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
        <httpRedirect enabled="false" />
        <security>
            <requestFiltering>
                <requestLimits maxUrl="8192" maxQueryString="8192" />
                <fileExtensions>
                    <add fileExtension=".jpg" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="index.php" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>